<!DOCTYPE html>
<html>
    <script src="https://kit.fontawesome.com/fff37026a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <body>
    <div class="clogin">
        <div class="userlogin">
            <i class="fa-solid fa-utensils"></i><h4 id="tastybite">TastyBite</h4><br>
            <h4>Caterer Login</h4>
            <p1>Sign in to manage your catering services</p1><br><br>
            <form action="/submit_caterer_login" method="post">
                <label for="email" id="mail">Email:</label><br>
                <input type="text" id="email" name="email" placeholder="your.email@example.com" required><br><br>
                <label for="password" id="pass">Password:</label><br>
                <input type="password" id="password" name="password" required><br><br>
                <input type="submit" value="Sign In" id="signin">
            </form><br>
            <p2>Don't have an account?</p2><a href="create.html" id="create_acc"> Create an account</a><br>
        </div>
    </div>
    </body>
</html>
