<!DOCTYPE html>
<html>
<head>
    <title>Caterer Details | TastyBite</title>
    <script src="https://kit.fontawesome.com/fff37026a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="c_detail">
        <div class="d2">
            <i class="fa-solid fa-utensils"></i>
            <h4 id="tastybite">TastyBite</h4><br><br>

            <form action="/verify_caterer" method="post">
                <input type="text" id="name" name="name" placeholder="Caterer Name" required><br>
                <input type="text" id="phone" name="phone" placeholder="Contact Number" required><br>
                <input type="text" id="address" name="address" placeholder="Business Address" required><br>
                <input type="text" id="fssai" name="fssai" placeholder="FSSAI Permit ID" required><br>
                <a href="user_dashboard.html" id="sub">Register Caterer </a>
            </form>
        </div>
    </div>
</body>
</html>
