<!DOCTYPE html>
<html>
    <head>
    <script src="https://kit.fontawesome.com/fff37026a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="create">
            <div class="c1">
            <i class="fa-solid fa-utensils"></i><h4 id="tastybite">TastyBite</h4><br>
            <form action="/verify" method="post">
                <label for="email" id="mail">Email:</label><br>
                <input type="text" id="email" name="email" placeholder="your.email@example.com" required><br>
                <label for="password" id="pass">Password:</label><br>
                <input type="password" id="password" name="password" required><br>
                <a href="user_detail.html" id="login">Login</a>
            </form>
            </div>
        </div>
    </body>
</html>