<!DOCTYPE html>
<html>
<head>
  <script src="https://kit.fontawesome.com/fff37026a8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="create">
    <div class="c1">
    <i class="fa-solid fa-utensils"></i>
    <h4 id="tastybite">TastyBite</h4><br>

    <h3>Create Account</h3>

    <label for="email" id="mail">Email:</label><br>
    <input type="text" id="email" name="email" placeholder="your.email@example.com" required><br>

    <label for="password" id="pass">Password:</label><br>
    <input type="password" id="password" name="password" required><br>

    <button id="signup">Sign Up</button>

    <p id="message"></p>
    </div>
  </div>

  <script type="module" src="signup.js"></script>
</body>
</html>
