<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
<script src="https://kit.fontawesome.com/fff37026a8.js" crossorigin="anonymous"></script></head> 
<body>
<div class="loginpage">
<title>TastyBite</title>
<i class="fa-solid fa-utensils"></i><h4>TastyBite</h4>

<hr id="line1">
<h1>
    Book the Best Catering <br>
    Service for Your Special Moments!
</h1>
<p>Connect with professional caterers for wedding, corporate events, parties, and more. </p>
<div class="container">
<div class="user">
    <i class="fa-regular fa-user"></i><br><br>
    <h4>User Login</h4><br>
    <p1>Find and book the perfect caterer for your event</p1><br><br>
    <a href="{{ url_for('userlogin') }}"><button  id="b1">Login as User</button></a>

</div>
<div class="caterer">
    <i class="fa-solid fa-bread-slice"></i><br><br>
    <h4>Caterer Login</h4><br>
    <p1>Manage your catering business and bookings</p1><br><br>
    <a href="{{ url_for('catererlogin') }}"> <button id="b2">Login as Caterer</button></a>
</div>
</div>
<div class="container1">
<div class="menu">
    <i class="fa-solid fa-utensils"></i><br>
    <h5>Diverse Menus</h5>
    <p1>Browse through a wide variety of cuisines and menu options</p1>
</div>
<div class="menu">
    <i class="fa-regular fa-address-book"></i><br>
    <h5>Easy Booking</h5>
    <p1>Check availability and book your preferred dates instantly</p1>
</div>
<div class="menu">
    <i class="fa-solid fa-bread-slice"></i><br>
    <h5>Professional Caterers</h5>
    <p1>Work with verified and experienced catering professionals</p1>
</div>
</div>
</div>
</body>
</html>