<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/fff37026a8.js" crossorigin="anonymous"></script>
    </head> 
    <body>
    <div class="userdashboard">
        <i class="fa-solid fa-utensils"></i><h4>TastyBite</h4>
        <hr id="line1">
        <a href="user_dashboard.html"><button id="b1"> <i class="fa-regular fa-house"></i> Search Caterers</button><br></a>
        <a href="my_booking.html"><button id="b1"><i class="fa-solid fa-bread-slice"></i> My bookings</button><br></a>
        <div class="mypro">
        <a href="my_profile.html"><button id="b"> <i class="fa-regular fa-user"></i> My Profile</button><br></a>
        </div>
        <a href="login.html"><button id="b1"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</button></a>
    </div>
    <div class="myprofile">
        <h2>My Profile</h2>
        <p1>Manage your account details</p1>
    </div>
    </body>
</html>