<!DOCTYPE html>
<html>
    <head>
    <script src="https://kit.fontawesome.com/fff37026a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="u_detail">
            <div class="d1">
            <i class="fa-solid fa-utensils"></i><h4 id="tastybite">TastyBite</h4><br><br>
            <form action="/verify" method="post">
                <input type="text" id="name" placeholder="Your Name" required><br>
                <input type="text" id="phone" placeholder="Your Phone Number" required><br>
                <input type="text" id="address" placeholder="Your Address" required><br>
                <a href="user_dashboard.html" id="sub">Register User </a>
            </form>
            </div>
        </div>
    </body>
</html>