<!DOCTYPE html>
<html>
    <script src="https://kit.fontawesome.com/fff37026a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <body>
    <div class="ulogin">
        <div class="userlogin">
            <i class="fa-solid fa-utensils"></i><h4 id="tastybite">TastyBite</h4><br>
            <h4>User Login</h4>
            <p1>Sign in to book your perfect caterer</p1><br><br>
            <form action="/submit_user_login" method="post">
                <label for="email" id="mail">Email:</label><br>
                <input type="text" id="email" name="email" placeholder="your.email@example.com" required><br><br>
                <label for="password" id="pass" >Password:</label><br>
                <input type="password" id="password" name="password" required><br><br>
                <button id="signin">Sign In</button>
            </form><br>
            <p2>Don't have an accound? </p2><a href="create.html" id="create_acc"> Create an account</a><br>
            <p id="message"></p><br>
        </div>
    </div>
    <script type="module" src="login.js"></script>
    </body>
</html>